<!-- Form Start -->    
<section class="background-grey bg-dark">
<video class="hero--video" id="hero--video" preload="auto" autoplay="autoplay" muted="muted" loop="loop">
<source src="">
</video>
  <div class="container-principal">
    <div class="container-body">
      <div class="content">
        <div class="content-left">
          <div class="formbox formbox-index">
            <p class="form-title white">Enter to win a free LTHR now!</p>
            <p class="form-subtitle"> Elevate Your Shaving Routine</p>
            <%= form_for @user, :url => { :action => "create" }, :html => {:class => "form-body"} do |f| %>
              <%= f.text_field :email, :placeholder => "Email" %>
              <input class="btn lima" type="submit" value="Come Inside & Be The First To Know" />
            <% end %>
            <div class="play-action">
              <a href="javascript: void(0);" class="play">
                <img src="/assets/ic-arrow-drop-down-circle-2.svg" alt="See It In Action">
                <p class="white">See It In Action</p>
              </a>
            </div>
          </div>
        </div>
        <div class="content-right">
          <!--<img src="/assets/group-2.png" srcset="/assets/group-2@2x.png 2x" alt="LTHR" />-->
        </div>
      </div>
    </div>
  </div>  
</section>
<!-- Form End --> 
<section>
  <div class="container-fluid">
    <div class="container why-better">
      <div class="row why-better-body reverse">
        <div class="container-icons col-sm-6 col-lg-3 text-center better">
          <img class="better-img" src="/assets/008-face.svg">
          <div class="better-body">
            <h2 class="better-title double">Hot Lather</h2>
            <p class="better-content">Opens Up Your Pores & Softens The Hair On Your Face, Making It Easier To Cut &
              Reducing Irritation.</p>
          </div>
        </div>
        <div class="container-icons col-sm-6 col-lg-3 col-small text-center better">
          <img class="better-img" src="/assets/001-flash.svg">
          <div class="better-body">
            <h2 class="better-title double">Wireless</h2>
            <p class="better-content">LTHR Is The First-Ever Wireless Hot Lather Dispenser.</p>
          </div>
        </div>
        <div class="container-icons col-sm-6 col-lg-3 col-small text-center better">
          <img class="better-img" src="/assets/013-leaf.svg">
          <div class="better-body">
            <h2 class="better-title">Premium<br>Ingredients</h2>
            <p class="better-content">Irritant-free, dermatologist-approved ingredients provide the most comfortable
              shave possible.</p>
          </div>
        </div>
        <div class="container-icons col-sm-6 col-lg-3 col-large text-center better">
          <img class="better-img" src="/assets/001-razor.svg">
          <div class="better-body">
            <h2 class="better-title">Master Barber<br>Backed</h2>
            <p class="better-content">It's Not Another Blade, Vibrating Razor, Or Some Weird Blue Shaving Gel, It's
              Proven Science That Has Been Backed By Barbers For Hundreds Of Years.</p>
          </div>
        </div>
      </div>
      <div class="row about-lthr">
        <div class="col-lg-12">
          <h2 class="why-better-header text-center">About LTHR</h2>
          <p class="step-extra-content">
            LTHR is on a mission to create a luxury shaving experience for guys everywhere. Created by long-time
            master barbers, LTHR was designed to bring the benefits of hot lather from the barbershop to your
            bathroom. Hot lather opens up your pores and softens the hair on your face, making it easier to cut and
            reducing irritation.
            <br><br>
            It's not another blade, vibrating razor, or some weird blue shaving gel, it's proven science that has been
            backed by barbers for hundreds of years. LTHR is the first of its kind wireless hot lather dispenser and
            pumps out foam at 135 degrees. Once on your face, the lather stays over 110 degrees for 90 seconds, giving
            you the perfect shave and elevating your routine. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="description-products">
	<div class="container-fluid">
		<div class="container why-better">
			<div class="row about-lthr">
				<div class="col-lg-4">
					<img src="./LTHR_files/producto-01.jpg" srcset="./LTHR_files/producto-01@2x.jpg 2x">
					<h2 class="description-title">Lather Pods</h2>
					<p class="description-content">Never have to worry about running out of lather. Find the delivery schedule that works with your shaving routine and get pods delivered directly to your door which are good for 10-15 shaves.
					<br><br>Our lather is hand-crafted, paraben-free, sulfate-free, and never tested on animals.
					</p>
				</div>
				<div class="col-lg-4">
					<img src="./LTHR_files/producto-02.jpg" srcset="./LTHR_files/producto-02@2x.jpg 2x">
					<h2 class="description-title">Heating System</h2>
					<p class="description-content">LTHR takes 3 minutes to get to the ideal temperature alerting you with its integrated lighting system.
					<br><br>Hot lather dispenses out at 135 degrees and once on your face, stays hot for the entirety of your shave.
					</p>
				</div>
				<div class="col-lg-4">
					<img src="./LTHR_files/producto-03.jpg" srcset="./LTHR_files/producto-03@2x.jpg 2x">
					<h2 class="description-title">Wireless Design</h2>
					<p class="description-content">Because LTHR is wireless, it’s easy to store and even travel with since its TSA approved.
					<br><br>One charge lasts for the life time of 1 pods use (10-15 shaves).
					<br><br>Store it on your vanity or anywhere else in your bathroom and it’s always ready to use. 
					</p>
				</div>
			  </div>
		</div>
	</div>
</section>
<section class="faq">
	<div class="container-fluid">
		<div class="container why-better">
			<div class="row about-lthr">
				<div class="col-lg-12">
					<h2 class="accordion">FAQ</h2>
					<div class="panel principal">
						<button class="accordion">Why is hot lather better?</button>
						<div class="panel">
						  <p>Imagine if you showered your whole life with cold water. Woof. Then one day, you were able to shower with hot water. Sweet! That’s how we think you’ll feel about shaving with hot lather if you’ve never felt it before. In addition to that, heat is a crucial element in achieving a close, comfortable shave. Ask your barber or any barber for a shave and they will utilize heat in some way. Either with hot lather, hot towels, a facial steamer or more often than not, a combination of the three. Heat softens your whiskers, making them easier to cut with your razor. This means less tug and pull between each hair follicle and your razor resulting in reduced irritation and an overall more enjoyable shaving experience.</p>
						</div>

						<button class="accordion">What is the return policy?</button>
						<div class="panel">
						  <p>If for any reason you’re unsatisfied with LTHR we’ll happily take it back. Just contact us within 30 days of receipt for a return shipping label. Send it back in the condition it was received and we'll refund your purchase.</p>
						</div>

						<button class="accordion">What do the lights mean? How does it work?</button>
						<div class="panel">
						  <p>Remove the seal from a pod, insert it into the bottom of the device and push and hold the power button. Blue lights will illuminate clockwise and once fully illuminated the device is ready! To power down, push and hold the power button and orange lights will illuminate counter clockwise and the device will be turned off. To check the battery life, simply double tap the power button and the green lights will display the level of charge remaining.</p>
						</div>

						<button class="accordion">How many shaves can I expect to get out of a pod?</button>
						<div class="panel">
						  <p>If you are a full face shaver making one pass, you can expect to get 10-15 shaves per pod.</p>
						</div>

						<button class="accordion">How long does the battery last? How long does it take to charge?</button>
						<div class="panel">
						  <p>You can expect the battery to last about the same as each pod, 10-15 shaves. If you make multiple passes and keep the device on for more than 5 minutes at a time, expect to need to recharge a bit more frequently.</p>
						</div>

						<button class="accordion">How big is the device?</button>
						<div class="panel">
						  <p>3.25” in diameter and 7” tall.</p>
						</div>

						<button class="accordion">How long does it take to heat up?</button>
						<div class="panel">
						  <p>Less than three minutes.</p>
						</div>

						<button class="accordion">110 for over 90 seconds seems really hot! Will that burn me?</button>
						<div class="panel">
						  <p>No! In fact, we think you’ll find the temperature setting like falling into a giant warm cloud of shave lather.</p>
						</div>

						<button class="accordion">Can this product be used by women too?</button>
						<div class="panel">
						  <p>Most certainly! We’ve received rave reviews from women who’ve tested our prototypes.</p>
						</div>

						<button class="accordion">Auto-shutoff?</button>
						<div class="panel">
						  <p>Indeed! The idea behind this is two fold; never worry about having forgot to shut off the device as well as conserving battery life.</p>
						</div>

						<button class="accordion">What exactly do you mean by water resistant/shower proof?</button>
						<div class="panel">
						  <p>Bring it in the shower if you’re a shower shaver, it will work just fine. Even if you drop it in the bathtub you can pull it out quickly and it will be fine. The only thing you can’t do is take it on the boat and drop it to the bottom of the lake and expect when you pull it up, it will work.</p>
						</div>

						<button class="accordion">Is it TSA friendly?</button>
						<div class="panel">
						  <p>You better believe it! Our pod volume is just shy of the max allowable carry on size for liquids.</p>
						</div>
					</div>
				</div>
			  </div>
		</div>
	</div>
</section>

  <!--<section class="reviews">
  <div class="container-fluid">
    <div class="container why-better">
      <div class="row">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>-->

<section class="footer">
  <div class="container-fluid come-inside">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12 text-center">
          <div class="formbox">
            <p class="form-title">Enter To Win A Free LTHR Now!</p>
            <p class="form-subtitle">Elevate Your Shaving Routine</p>

            <%= form_for @user, :url => { :action => "create" }, :html => {:class => "form-body"} do |f| %>
              <%= f.text_field :email, :placeholder => "Email", class: 'form--f--input' %>
              <input class="btn lima full-width" type="submit" value="Come Inside & Be The First To Know" />
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'video_modal' %>
