<!-- Form Start -->    
<section class="background-grey bg-dark">
<video class="hero--video" id="hero--video" preload="auto" autoplay="autoplay" muted="muted" loop="loop">
<source src="">
</video>
  <div class="container-principal">
    <div class="container-body">
      <div class="content">
        <div class="content-left">
          <div class="formbox formbox-index">
            <p class="form-title white">Enter to win a free LTHR now!</p>
            <p class="form-subtitle"> Elevate Your Shaving Routine</p>
            <%= form_for @user, :url => { :action => "create" }, :html => {:class => "form-body"} do |f| %>
              <%= f.text_field :email, :placeholder => "Email" %>
              <input class="btn lima" type="submit" value="Come Inside & Be The First To Know" />
            <% end %>
            <div class="play-action">
              <a href="javascript: void(0);" class="play">
                <img src="/assets/ic-arrow-drop-down-circle-2.svg" alt="See It In Action">
                <p class="white">See It In Action</p>
              </a>
            </div>
          </div>
        </div>
        <div class="content-right">
          <!--<img src="/assets/group-2.png" srcset="/assets/group-2@2x.png 2x" alt="LTHR" />-->
        </div>
      </div>
    </div>
  </div>  
</section>
<!-- Form End --> 
<section>
  <div class="container-fluid">
    <div class="container why-better">
      <div class="row why-better-body reverse">
        <div class="container-icons col-sm-12 col-lg-3 text-center better">
          <img class="better-img" src="/assets/008-face.svg">
          <div class="better-body">
            <h2 class="better-title double">Hot Lather</h2>
            <p class="better-content">Opens Up Your Pores & Softens The Hair On Your Face, Making It Easier To Cut &
              Reducing Irritation.</p>
          </div>
        </div>
        <div class="container-icons col-sm-12 col-lg-3 col-small text-center better">
          <img class="better-img" src="/assets/001-flash.svg">
          <div class="better-body">
            <h2 class="better-title double">Wireless</h2>
            <p class="better-content">LTHR Is The First-Ever Wireless Hot Lather Dispenser.</p>
          </div>
        </div>
        <div class="container-icons col-sm-12 col-lg-3 col-small text-center better">
          <img class="better-img" src="/assets/013-leaf.svg">
          <div class="better-body">
            <h2 class="better-title">Premium<br>Ingredients</h2>
            <p class="better-content">Irritant-Free, Dermatologist-Approved Ingredients Provide The Most Comfortable Shave Possible.</p>
          </div>
        </div>
        <div class="container-icons col-sm-12 col-lg-3 col-large text-center better">
          <img class="better-img" src="/assets/001-razor.svg">
          <div class="better-body">
            <h2 class="better-title">Master Barber<br>Backed</h2>
            <p class="better-content">It's Not Another Blade, Vibrating Razor, Or Some Weird Blue Shaving Gel, It's
              Proven Science That Has Been Backed By Barbers For Hundreds Of Years.</p>
          </div>
        </div>
      </div>
      <div class="row about-lthr">
        <div class="col-lg-12">
          <h2 class="why-better-header text-center">About LTHR</h2>
          <p class="step-extra-content">
          LTHR is on a mission to create a luxury shaving experience for guys everywhere. Created by long-time master barbers, LTHR was designed to bring the benefits of hot lather from the barbershop to your bathroom. Hot lather opens up your pores and softens the hair on your face, making it easier to cut, reducing irritation.
          <br><br>
          A wireless, water-resistant and travel-friendly device that utilizes a pod-based system to deliver professional barber-grade hot shaving lather in under three minutes. An LED array notifies the user of battery life, when the device is ready for use and when it's powering down. A vertical orientation minimizes sink real estate with a diameter of less than four inches. Easy one or two handed use with an ergonomically designed sensory dispense button.
          <br><br>
          LTHR is the first of its kind wireless hot lather dispenser. Lather dispenses out at 135 degrees and once on your face, stays hot for the entirety of your shave. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="description-products">
	<div class="container-fluid">
		<div class="container why-better">
			<div class="row about-lthr">
				<div class="col-md-4">
					<img src="/assets/producto-01.jpg" srcset="/assets/producto-01@2x.jpg 2x">
					<h2 class="description-title">Lather Pods</h2>
					<p class="description-content">Never have to worry about running out of lather. Find the delivery schedule that works with your shaving routine and get pods delivered directly to your door which are good for 10-15 shaves.
					<br><br>Our lather is hand-crafted, paraben-free, sulfate-free, and never tested on animals.
					</p>
				</div>
				<div class="col-md-4">
					<img src="/assets/producto-02.jpg" srcset="/assets/producto-02@2x.jpg 2x">
					<h2 class="description-title">Heating System</h2>
					<p class="description-content">LTHR takes 3 minutes to get to the ideal temperature alerting you with its integrated lighting system.
					<br><br>Hot lather dispenses out at 135 degrees and once on your face, stays hot for the entirety of your shave.
					</p>
				</div>
				<div class="col-md-4">
					<img src="/assets/producto-03.jpg" srcset="/assets/producto-03@2x.jpg 2x">
					<h2 class="description-title">Wireless Design</h2>
					<p class="description-content">Because LTHR is wireless, it’s easy to store and even travel with since its TSA approved.
					<br><br>One charge lasts for the life time of 1 pods use (10-15 shaves).
					<br><br>Store it on your vanity or anywhere else in your bathroom and it’s always ready to use. 
					</p>
				</div>
			  </div>
		</div>
	</div>
</section>
<%= render '/users/faq' %>

  <!--<section class="reviews">
  <div class="container-fluid">
    <div class="container why-better">
      <div class="row">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>
          <div class="item">
            <div class="review-container">
              <img class="review-img" src="/assets/rating.svg">
              <p class="review-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a facilisis
                nulla, sed lacus. Morbi a leo sapien. Mauris pharetra enim id mi ornare, eget faucibus quam aliquet.
                Aenean vitae molestie enim, at gravida est. Duis nec nibh a ligula auctor dignissim id eget velit.
                Vivamus ut semper nibh. Morbi lacus metus, vulputate non egestas id, euismod non eros.”</p>
              <h5 class="review-name">Aliquam Phasellus</h5>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>-->

<section class="footer">
  <div class="container-fluid come-inside">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12 text-center">
          <div class="formbox">
            <p class="form-title">Enter To Win A Free LTHR Now!</p>
            <p class="form-subtitle">Elevate Your Shaving Routine</p>

            <%= form_for @user, :url => { :action => "create" }, :html => {:class => "form-body"} do |f| %>
              <%= f.text_field :email, :placeholder => "Email", class: 'form--f--input' %>
              <input class="btn lima full-width" type="submit" value="Come Inside & Be The First To Know" />
            <% end %>
            <div class="text-center">
              <%= link_to 'Privacy & Terms', privacy_policy_path, target: '_blank', class: "privacy-link" %> |
              <%= link_to "Contact Us", "mailto:?to=hello@lthrshaving.com", class: "privacy-link" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'video_modal' %>

<script>
  function changeVideo(width){
    var video = $('#hero--video');
    var source = $('#hero--video source');
    
    if(width > 768){
      video.attr('poster', './assets/poster-video.jpg');
      source.attr('src', '/assets/IMG_0542.mov');
    }else{
      video.attr('poster', '/assets/poster-video-mb-2.jpg');
      source.attr('src', '/assets/IMG_0562_MB.mov');
    }
    video.load();
    $('#hero--video')[0].cloneNode(true).play();
  }

  $(document).ready(function(){
    changeVideo($(window).width());
  });
  $(window).resize(function(){
    changeVideo($(window).width());
  });
  
  (function () {
    'use strict';
    
    var module = {
        options: [],
        header: [navigator.platform, navigator.userAgent, navigator.appVersion, navigator.vendor, window.opera],
        dataos: [
            { name: 'Windows Phone', value: 'Windows Phone', version: 'OS' },
            { name: 'Windows', value: 'Win', version: 'NT' },
            { name: 'iPhone', value: 'iPhone', version: 'OS' },
            { name: 'iPad', value: 'iPad', version: 'OS' },
            { name: 'Kindle', value: 'Silk', version: 'Silk' },
            { name: 'Android', value: 'Android', version: 'Android' },
            { name: 'PlayBook', value: 'PlayBook', version: 'OS' },
            { name: 'BlackBerry', value: 'BlackBerry', version: '/' },
            { name: 'Macintosh', value: 'Mac', version: 'OS X' },
            { name: 'Linux', value: 'Linux', version: 'rv' },
            { name: 'Palm', value: 'Palm', version: 'PalmOS' }
        ],
        databrowser: [
            { name: 'Chrome', value: 'Chrome', version: 'Chrome' },
            { name: 'Firefox', value: 'Firefox', version: 'Firefox' },
            { name: 'Safari', value: 'Safari', version: 'Version' },
            { name: 'Internet Explorer', value: 'MSIE', version: 'MSIE' },
            { name: 'Opera', value: 'Opera', version: 'Opera' },
            { name: 'BlackBerry', value: 'CLDC', version: 'CLDC' },
            { name: 'Mozilla', value: 'Mozilla', version: 'Mozilla' }
        ],
        init: function () {
            var agent = this.header.join(' '),
                os = this.matchItem(agent, this.dataos),
                browser = this.matchItem(agent, this.databrowser);
            
            return { os: os, browser: browser };
        },
        matchItem: function (string, data) {
            var i = 0,
                j = 0,
                html = '',
                regex,
                regexv,
                match,
                matches,
                version;
            
            for (i = 0; i < data.length; i += 1) {
                regex = new RegExp(data[i].value, 'i');
                match = regex.test(string);
                if (match) {
                    regexv = new RegExp(data[i].version + '[- /:;]([\\d._]+)', 'i');
                    matches = string.match(regexv);
                    version = '';
                    if (matches) { if (matches[1]) { matches = matches[1]; } }
                    if (matches) {
                        matches = matches.split(/[._]+/);
                        for (j = 0; j < matches.length; j += 1) {
                            if (j === 0) {
                                version += matches[j] + '.';
                            } else {
                                version += matches[j];
                            }
                        }
                    } else {
                        version = '0';
                    }
                    return {
                        name: data[i].name,
                        version: parseFloat(version)
                    };
                }
            }
            return { name: 'unknown', version: 0 };
        }
    };
    
    var e = module.init(),
        debug = '';
    
    debug += 'os.name = ' + e.os.name + '<br/>';
    debug += 'os.version = ' + e.os.version + '<br/>';
    debug += 'browser.name = ' + e.browser.name + '<br/>';
    debug += 'browser.version = ' + e.browser.version + '<br/>';
    
    debug += '<br/>';
    debug += 'navigator.userAgent = ' + navigator.userAgent + '<br/>';
    debug += 'navigator.appVersion = ' + navigator.appVersion + '<br/>';
    debug += 'navigator.platform = ' + navigator.platform + '<br/>';
    debug += 'navigator.vendor = ' + navigator.vendor + '<br/>';
    
    console.log(debug);
}());

</script>
