<!-- Header -->
<style>
    body{
      background:#fff; color:#000;
    }
</style>
<div class="container-fluid thankyouheaderbg">
  <div class="row">
    <div class="container">
      <div class="col-md-6 col-xs-12 leftbox" style="padding-top:15px;">  

      </div>		
      <div class="col-md-5 col-xs-12 rightbox">  
        <p class="title-thankyou">THANK YOU FOR SIGNING UP <br>AND REMEMBER…</p>
        <p class="subtitle-thankyou">Share your unique link below via email or social media to earn free products depending on how many friends enter their email address.</p>                                                   
        <p class="share-link">
          <input class="input" id="share-link" type="text" value="<%= root_url %>?ref=<%= @user.referral_code %>" readonly><button class="btn-copy" onclick="copy()">COPY</button>
        </p>
        <p class="social-share">
          <% twitter_message = "CLICK 2 WIN a chance to receive a free LTHR pre-order!" %>  
          <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=LTHR" target="_blank"><img src="<%= asset_path('logo-fb.svg') %>" alt="Share on Facebook" /></a> 
          <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" target="_blank"><img src="<%= asset_path('logo-tw.svg') %>" alt="Share on Twitter" /></a>
        </p>                                                                           
      </div>                       
    </div>		
  </div>
</div>
<!-- Header End -->

  <!-- Steps Start -->
  <div class="container-fluid">
    <div class="container steps">
      <div class="row">
        <h2 class="steps-header text-center">HERE’S HOW IT WORKS</h2>
      </div>
      <div class="row steps-body">
        <div class="col-md-3 text-center step">
          <img class="step-img" src="<%= asset_path('step1.png') %>" srcset="<%= asset_path('step1-2x.png') %>" alt="Step 1">
          <div class="step-body">
            <h2 class="step-title">5 FRIENDS</h2>
            <p class="step-content">One LTHR Shaving Pod</p>
          </div>
        </div>
        <div class="col-md-3 text-center step">
          <img class="step-img" src="<%= asset_path('step2.png') %>" srcset="<%= asset_path('step2-2x.png') %>" alt="Step 2">
          <div class="step-body">
            <h2 class="step-title">10 FRIENDS</h2>
            <p class="step-content">3 LTHR Shaving Pods</p>
          </div>
        </div>    
        <div class="col-md-3 text-center step">
          <img class="step-img" src="<%= asset_path('step3.png') %>" srcset="<%= asset_path('step3-2x.png') %>" alt="Step 3">
          <div class="step-body">
            <h2 class="step-title">15 FRIENDS</h2>
            <p class="step-content">Safety Razor + 5pk Blades</p>
          </div>
        </div>   
        <div class="col-md-3 text-center step">
          <img class="step-img" src="<%= asset_path('step4.png') %>" srcset="<%= asset_path('step4-2x.png') %>" alt="Step 4">
          <div class="step-body">
            <h2 class="step-title">20 FRIENDS</h2>
            <p class="step-content">Free LTHR Pre-Order With 1 Shaving Pod</p>
          </div>
        </div>  
      </div>
      <div class="row">
        <p class="step-extra-content">
          Who doesn’t have 5-10 friends that shave? Enter to win a chance to receive a free LTHR pre-order! It's as easy as sending out a quick email with your custom link to a few friends or sharing on social using the links above. Each one of your referrals that comes to the site and enters their email will give you credit towards the above milestones.
        </p>
      </div>
      <div class="row">
        <%
          words = ''
          referrals_count = @user.referrals.count
          if referrals_count == 1
            words = 'friend has'
          elsif
            words = 'friends have'
          end
        %>
        <% if referrals_count == 0 %>
          <h2 class="step-title">No friends have joined...Yet!</h2>
        <% else %>
          <h2 class="step-title"><%= referrals_count %><%= words %> joined</h2>
        <% end %>        
      </div>      
    </div>
  </div>
  <!-- Steps End -->

  

  <!-- Come Inside Start -->
  <div class="container-fluid come-inside">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12 text-center">	
          <p class="title-come-inside">Come Inside To Pre-Order</p>

          <p class="subtitle-come-inside">& Have The Chance To Win A Free LTHR!</p>
          <form class="form-come-inside">
            <input class="input email-come-inside" type="email" placeholder="Email">
            <button class="btn lima btn-send">Come Inside To Learn More</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Come Inside -->

  <!-- Footer Start -->
  <div class="container-fluid footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 text-center">	
          <p class="social-share-footer">
            <a target="_blank" href="https://www.facebook.com/"><img src="<%= asset_path('logo-fb-1.svg') %>" alt="Share on Facebook"></a> 
            <a target="_blank"  href="https://twitter.com/"><img src="<%= asset_path('logo-tw-1.svg') %>" alt="Share on Instagram"></a>
            <a target="_blank" href="https://www.instagram.com/"><img src="<%= asset_path('logo-insta-1.svg') %>" alt="Share on Twitter"></a>
            <a target="_blank" href="https://www.youtube.com/"><img src="<%= asset_path('logo-youtube.svg') %>" alt="Share on Youtube" width="37"></a> 
          </p> 
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->
<script>
function copy() {
  /* Get the text field */
  var copyText = document.getElementById("share-link");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied to clipboard: " + copyText.value);
}
</script>