<section class="background-dark">
  <div class="container-principal">
    <div class="container-body">
      <div class="content">
      
      <div class="content-left">
          <div class="formbox formbox-reward">
            <p class="form-title">A barbershop quality shave in the comfort of your own home.</p>
            <div class="play-action">
              <a href="javascript: void(0);" class="play">
                <img src="/assets/ic-arrow-drop-down-circle-2.svg" alt="See It In Action">
                <p>See It In Action</p>
              </a> 
            </div>
          </div>
        </div>
        <div class="content-right">  
          <img src="/assets/producto.png" srcset="/assets/producto@2x.png 2x" alt="LTHR" />
        </div>
      </div>		
    </div>
  </div>
  
</section>
<section class="invite">
  <div class="container-principal">
    <div class="content-left">
      <img src="/assets/lthr-01.png" srcset="/assets/lthr-01@2x.png 2x" alt="LTHR" />
    </div>
    <div class="content-right">  
      <div class="formbox">
        <p class="form-title">INVITE A FRIEND &
            EARN PRODUCTS</p>
                                
        <form class="form-inline" action="#" method="post">
          <input type="text" placeholder="Link-to-share" id="share-link" value="<%= root_url %>?ref=<%= @user.referral_code %>" readonly>
          <button class="btn lima" onclick="copy()" type="button">COPY</button>
        </form>
        <p>share on social</p>
        <p class="social-share">
          <% twitter_message = "Ready to elevate your shave? Here is your limited-time chance to win a pre-order LTHR hot shaving machine!" %>  
          <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=LTHR" target="_blank"><img src="<%= asset_path('logo-fb.svg') %>" alt="Share on Facebook" /></a> 
          <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" target="_blank"><img src="<%= asset_path('logo-tw.svg') %>" alt="Share on Twitter" /></a>          
        </p>
      </div>
    </div>
  </div>
</section>
<section class="how-it-works">
  <div class="container-fluid">
    <div class="container steps">
      <div class="row">
        <h2 class="steps-header text-center">HERE’S HOW IT WORKS</h2>
      </div>
      <div class="row steps-body">
        <div class="col-md-3 text-center step">
          <img class="step-img" src="/assets/step1.png" srcset="/assets/step1-2x.png 2x" alt="Step 1">
          <div class="step-body">
            <h2 class="step-title">5 FRIENDS</h2>
            <p class="step-content">One LTHR Shaving Pod</p>
          </div>
        </div>
        <div class="col-md-3 text-center step">
          <img class="step-img" src="/assets/step2.png" srcset="/assets/step2-2x.png 2x" alt="Step 2">
          <div class="step-body">
            <h2 class="step-title">10 FRIENDS</h2>
            <p class="step-content">3 LTHR Shaving Pods</p>
          </div>
        </div>    
        <div class="col-md-3 text-center step">
          <img class="step-img" src="/assets/25.png" srcset="/assets/25@2x.png 2x" alt="Step 3">
          <div class="step-body">
            <h2 class="step-title">25 FRIENDS</h2>
            <p class="step-content">Safety Razor + 5pk Blades</p>
          </div>
        </div>   
        <div class="col-md-3 text-center step">
          <img class="step-img" src="/assets/50.png" srcset="/assets/50@2x.png 2x" alt="Step 4">
          <div class="step-body">
            <h2 class="step-title">50 FRIENDS</h2>
            <p class="step-content">Free LTHR Pre-Order With 1 Shaving Pod</p>
          </div>
        </div>  
      </div>
      <div class="row">
        <p class="step-extra-content">
          Who doesn’t have 5-10 friends that shave? Enter to win a chance to receive a free LTHR pre-order! It's as easy as sending out a quick email with your custom link to a few friends or sharing on social using the links above. Each one of your referrals that comes to the site and enters their email will give you credit towards the above milestones.
        </p>
      </div>
      <div class="row">
        <%
          words = ''
          referrals_count = @user.referrals.count
          if referrals_count == 1
            words = 'friend has'
          elsif
            words = 'friends have'
          end
        %>
        <% if referrals_count == 0 %>
          <h2 class="step-title">No friends have joined...Yet!</h2>
        <% else %>
          <h2 class="step-title"><%= referrals_count %> <%= words %> joined</h2>
        <% end %>        
      </div>
    </div>
  </div>
</section>
<section class="footer">
  <div class="container-fluid come-inside">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12 text-center">	
          <div class="formbox">
            <p class="form-title">INVITE A FRIEND &
                EARN PRODUCTS</p>
                                    
            <form class="form-inline" action="#" method="post">
              <input type="text" placeholder="Link-to-share" id="share-link" value="<%= root_url %>?ref=<%= @user.referral_code %>" readonly>
              <button class="btn lima" onclick="copy()" type="button">COPY</button>
            </form>
            <p>share on social</p>
            <p class="social-share">
              <% twitter_message = "CLICK 2 WIN a chance to receive a free LTHR pre-order!" %>  
              <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=LTHR" target="_blank"><img src="<%= asset_path('logo-fb.svg') %>" alt="Share on Facebook" /></a> 
              <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" target="_blank"><img src="<%= asset_path('logo-tw.svg') %>" alt="Share on Twitter" /></a> 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'video_modal' %>

<script>
function copy() {
  /* Get the text field */
  var copyText = document.getElementById("share-link");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied to clipboard: " + copyText.value);
}
</script>