<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1, shrink-to-fit=no">-->
    <title>LTHR</title>
    <%= favicon_link_tag asset_path('LTHR-Favi-Icon@1x.png'), rel: 'icon', type: "image/png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="LTHR">
    <meta name="twitter:title" content="LTHR">
    <meta name="twitter:description" content="Ready to elevate your shave? Here is your limited-time chance to win a pre-order LTHR hot shaving machine!">
    <meta name="twitter:creator" content="LTHR">
    <meta name="twitter:image:type" content="image/jpeg">
    <meta name="twitter:image" content="<%= Rails.application.config.action_mailer.default_url_options[:host] %>/assets/lthr-side-1-1.png">
    <meta name="twitter:domain" content="<%= Rails.application.config.action_mailer.default_url_options[:host] %>">
    <meta property="og:title" content="LTHR" />
    <meta property="og:description" content="Ready to elevate your shave? Here is your limited-time chance to win a pre-order LTHR hot shaving machine!" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image" content="<%= Rails.application.config.action_mailer.default_url_options[:host] %>/assets/lthr-side-1-1.png" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
  
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PKKPX8V');</script>
	<!-- End Google Tag Manager -->
  
  </head>

  <body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKKPX8V"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
    <section class="header">
      <header class="header-preorder">
        <img class="logo" src="/assets/logo.png" alt="LTHR"/>
        <p class="menu-text-right">
          <% if @experiment.eql?('https://lthrshaving.com/cart/28670272012340:1') %>
            <%= link_to 'PRE-ORDER NOW', 'https://lthrshaving.com/cart/28670272012340:1', class: 'btn lima full-width preorder' %>
          <% elsif @experiment.eql?('https://lthrshaving.com/cart/29407041486900:1') %>
            <%= link_to 'PRE-ORDER NOW', 'https://lthrshaving.com/cart/29407041486900:1', class: 'btn lima full-width preorder' %>
          <% elsif @experiment.eql?('https://lthrshaving.com/cart/29407049023540:1') %>
            <%= link_to 'PRE-ORDER NOW', 'https://lthrshaving.com/cart/29407049023540:1', class: 'btn lima full-width preorder' %>
          <% end %>
<<<<<<< HEAD
          <br>
          <select class="qty-preorder">
=======
          <!--<select class="qty-preorder">
>>>>>>> parent of d7bfc61... Update application.html.erb
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>-->
          <span class="product-price"><s>$199.00</s> $149.95</span>
        </p>
      </header>
    </section>   
    <%= yield %>
    <%= render 'toastr_rails/flash' %>
    <!-- Start of  Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=<%= ENV['ZENDESK_API_KEY'] %>"> </script>
    <!-- End of  Zendesk Widget script -->
    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
    </script>
    <script>
    $(document).ready(function(){
      $('.qty-preorder').change(function(){
        var href = $('.preorder').attr('href');
        href = href.substring(0, href.length - 1);
        href += $(this).val();
        $('.preorder').attr('href' , href);
      });
    });
    </script>
  </body>
</html>
