<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1, shrink-to-fit=no">  
    <title>LTHR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="LTHR">
    <meta name="twitter:title" content="LTHR">
    <meta name="twitter:description" content="Ready to elevate your shave? Limited-time chance to win a @LTHR hot shaving machine! (<%= ENV['DEFAULT_MAILER_HOST'] %>)">
    <meta name="twitter:creator" content="LTHR">
    <meta name="twitter:image:type" content="image/jpeg">
    <meta name="twitter:image" content="<%= Rails.application.config.action_mailer.default_url_options[:host] %>/assets/image-popup.png">
    <meta name="twitter:domain" content="<%= Rails.application.config.action_mailer.default_url_options[:host] %>">
    <meta property="og:title" content="LTHR" />
    <meta property="og:description" content="Ready to elevate your shave? Limited-time chance to win a @LTHR hot shaving machine! (<%= ENV['DEFAULT_MAILER_HOST'] %>)" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image" content="<%= Rails.application.config.action_mailer.default_url_options[:host] %>/assets/image-popup.png" />    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <section class="header">
      <header class="header-preorder">
        <img class="logo" src="/assets/lthr.svg" alt="LTHR"/>
        <p class="menu-text-right">
          <% if @experiment.eql?('https://lthrshaving.com/cart/28670272012340:1') %>
            <%= link_to 'PRE-ORDER NOW', 'https://lthrshaving.com/cart/28670272012340:1', class: 'btn lima full-width', target: '_blank' %>
          <% elsif @experiment.eql?('https://lthrshaving.com/cart/29407041486900:1') %>
            <%= link_to 'PRE-ORDER NOW', 'https://lthrshaving.com/cart/29407041486900:1', class: 'btn lima full-width', target: '_blank' %>
          <% elsif @experiment.eql?('https://lthrshaving.com/cart/29407049023540:1') %>
            <%= link_to 'PRE-ORDER NOW', 'https://lthrshaving.com/cart/29407049023540:1', class: 'btn lima full-width', target: '_blank' %>
          <% end %>
        </p>
      </header>
    </section>   
    <%= yield %>
    <%= render 'toastr_rails/flash' %>
  </body>
</html>
