<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1, shrink-to-fit=no">  
    <title>LTHR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="LTHR">
    <meta name="twitter:title" content="LTHR">
    <meta name="twitter:description" content="CLICK 2 WIN a chance to receive a free LTHR pre-order!">
    <meta name="twitter:creator" content="LTHR">
    <meta name="twitter:image:type" content="image/jpeg">
    <meta name="twitter:image" content="<%= Rails.application.config.action_mailer.default_url_options[:host] %>/assets/image-popup.png">
    <meta name="twitter:domain" content="<%= Rails.application.config.action_mailer.default_url_options[:host] %>">
    <meta property="og:title" content="LTHR" />
    <meta property="og:description" content="CLICK 2 WIN a chance to receive a free LTHR pre-order!" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image" content="<%= Rails.application.config.action_mailer.default_url_options[:host] %>/assets/image-popup.png" />    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <section class="header">
      <header class="header-preorder">
        <img class="logo" src="/assets/lthr.svg" alt="LTHR"/>
        <p class="menu-text-right"><a href="javascript: void(0);" class="btn lima full-width">PRE-ORDER NOW</a></p>
      </header>
    </section>   
    <%= yield %>
    <%= render 'toastr_rails/flash' %>
  </body>
</html>
